header {
  nav.top {
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: white;
    }
    .top--menu.active > * {
      margin-right: 0.8rem;
    }
    .top--menu.active a {
      text-decoration: none;
      color: #fff;
    }
  }
}
